* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	user-select: none;
	--anchor: dodgerblue;
	--subtle: #6c737a;
	--card-border: black;
}

body {
	max-width: 42rem;
	margin: 0 auto;
	padding: 1.2rem;
}

a {
	color: var(--anchor);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

#header {
	margin-bottom: 1.2rem;
}

#header h1 {
	line-height: 1.8rem;
	font-size: 1.8rem;
}

#listings {
	margin-bottom: 1.2rem;
}

.motion-card {
	user-select: text;
	border-left: 1px solid var(--card-border);
	border-radius: 0.6rem;
	padding: 1.2rem;
}

.motion-card:not(:last-child) {
	margin-bottom: 1.2rem;
}

.motion-title {
	font-size: 100%
}

.motion-date {
	font-weight: 300;
	font-size: 90%;
}

#copyright {
	color: var(--subtle);
}

@media(prefers-color-scheme: dark) {
	:root {
		background-color: #464a4e;
		color: white;
		--anchor: blueviolet;
		--subtle: #757d84;
		--card-border: white;
	}
}
